.skills {
    margin-top: 100px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.skills > h1 {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.skills h1 span {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 76, 32);
    animation: arrow-motion 2s ease-in-out alternate infinite;
}

.skills ul {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    width: 85%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 40px;
}

.skills ul:hover {
    border-color: red;
}

.skills ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: default;
}

.skills ul li img {
    width: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .skills ul li img {
        width: 30px;
        padding: 3px;
    }

    .skills ul li h3 {
        font-size: 1rem;
    }
}